<div class="ng-cloak main_category">
    <div ng-show="products">
        <div ng-include="'../sort/sort.html'"></div>
        <div class="row products_list set_margin_zero"
             ng-repeat="product in products"
             title="{{product.title}}">
            <!--title and description-->
            <div class="col-xs-12 title_product">
                <a ui-sref="productId({productId : product.idProduct})">{{product.title}}</a>
            </div>
            <!--img-->
            <div class="col-xs-6 set_text_align_center">
                <a ui-sref="productId({productId : product.idProduct})">
                    <img ng-repeat="img in product.imagesByIdProduct"
                         ng-src='data:image/jpeg; base64,{{img.photo}}'/>
                    <img ng-show="product.imagesByIdProduct.length === 0"
                         src="../static/img/no-image.png" type="image/png">
                </a>
            </div>
            <!--product digits-->
            <div class="col-xs-6 set_text_align_center">
                <div class="product_digits">
                    <div class="code">
                        <p class="product_description_text">Код товара:</p>
                        <p class="product_description_digits">{{product.productCode}}</p>
                    </div>
                    <div class="price">
                        <p class="product_description_text">Цена:</p>
                        <p class="product_description_digits">{{product.price}}</p>
                    </div>
                    <div ng-if="product.exist === 1" class="exist_yes">
                        <p class="exist_text">Наличие:</p>
                        <p class="product_exist">есть в наличии</p>
                    </div>
                    <div ng-if="product.exist === 0" class="exist_no">
                        <p class="exist_text">Наличие:</p>
                        <p class="product_not_exist">нет в наличии</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'../pagination/pagination.html'"></div>
    </div>
</div>