<div ng-class="currentPath === '/categories' ? 'page-header admin_page_header' : ''">
    <h1 class="admin_sub_header">Управление категориями</h1>
    <button ng-hide="isCategoryEdit || isCategoryAdd"
            class="btn btn-default admin_add_new_good"
            ng-click="addCategory();">Новая категория</button>
</div>
<div class="table-responsive">
    <div>
        <div ng-show="isCategoryAdd"
             ng-include=" 'admin/categories/add.category.html' "></div>
        <div ng-show="isCategoryEdit"
             ng-include=" 'admin/categories/edit.category.html' "></div>
        <table ng-hide="isCategoryAdd || isCategoryEdit" class="table table-striped">
            <thead>
                <tr>
                    <th>Наименование категории</th>
                    <th style="text-align: right;">Опции</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="categoryItem in categories">
                    <td>{{categoryItem.name}}</td>
                    <td>
                        <img src="../../static/img/delete-icon.png"
                             class="edit_page_btn"
                             alt="Удалить"
                             title="Удалить"
                             ng-click="deleteCategory(categoryItem.idCategory, categoryItem.name)"/>
                        <img src="../../static/img/edit.png"
                             class="edit_page_btn"
                             alt="Редактировать"
                             title="Редактировать"
                             ng-click="editCategory(categoryItem.idCategory)"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>