<h2 style="height: 100%;
               width: 100%;
               font-weight: bold;
               margin-top: 10%;
               z-index: 9999;
               text-align: center;"
    ng-if="catalog.length === 0">
    <img src="../static/img/Loading_icon.gif" width="50" height="50">
</h2>
<div ng-repeat="category in catalog">
    <a ui-sref="category({category : category.idCategory})"
       class="ng-cloak col-xs-4 parent_category"
       title="{{category.name}}">
        <img data-ng-src="data:image/jpg;base64,{{category.image.image}}"/>
        <h2 ng-bind="category.name"></h2>
    </a>
</div>