<div class="panel panel-primary auth-form">
    <div class="panel-heading">
        <h3 class="panel-title">Авторизация</h3>
    </div>
    <div class="panel-body">
        <div class="alert alert-danger" ng-show="controller.error">
            Произошла проблема входа в систему. Пожалуйста, повторите попытку.
        </div>
        <form role="form"  ng-submit="login()">
            <div class="form-group">
                <label for="username" style="margin-top: 5px;">Имя пользователя:</label>
                <input type="text"
                       class="form-control admin_add_input admin_auth_input"
                       id="username"
                       name="username"
                       ng-model="username"/>
            </div>
            <div class="form-group">
                <label for="password" style="margin-top: 5px;">Пароль:</label>
                <input type="password"
                       class="form-control admin_add_input admin_auth_input"
                       id="password"
                       name="password"
                       ng-model="password"/>
            </div>
            <button type="submit" class="btn btn-primary" style="float: right;">Войти</button>
        </form>
    </div>
</div>