/*ONE PRODUCT SELECT*/
.single_product_img{
    float: left;
    min-width: 150px;
    max-width: 150px;
    margin: 0 20px 0 0;
}

.single_product{
    margin-top: 20px;
}

.product_digits_single_product{
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 160px;
    z-index: 99;
}