<div class="row main_category">
    <div ng-repeat="category in categories">
        <a ng-if="category.parentId !== 0"
           ui-sref="productList({productList : category.idCategory})"
           sub-category="sub-category"
           class="ng-cloak col-xs-4 child_category"
           title="{{category.name}}">
            <img data-ng-src="data:image/*;base64,{{category.img}}"/>
            <!--<img data-ng-src="data:image/*;base64,{{base64.decode(category.img)}}"/>-->
            <h2 ng-bind="category.name"></h2>
        </a>
    </div>
</div>