<div class="ng-cloak main_category">
    <div ng-hide="!product" class="single_product">
        <img ng-show="product.image" ng-src='data:image/jpeg; base64,{{product.image}}' class="single_product_img"/>
        <img ng-hide="product.image" src="../static/img/no-image.png" type="image/jpeg" class="single_product_img"/>
        <div class="describe_product">
            <h1>{{product.productByProductId.title}}</h1>
            <table>
                <tr>
                    <td class="set_width_100px"><p class="set_font_weight_bold">Описание:</p></td>
                    <td><p class="set_font_weight_100" ng-bind="product.productByProductId.description"/></td>
                </tr>
                <tr>
                    <td class="set_width_100px"><p class="set_font_weight_bold">Код товара:</p></td>
                    <td><p class="set_font_weight_100" ng-bind="product.productByProductId.productCode"/></td>
                </tr>
                <tr>
                    <td class="set_width_100px"><p class="set_font_weight_bold">Цена:</p></td>
                    <td><p class="set_font_weight_100" ng-bind="product.productByProductId.price"/></td>
                </tr>
                <tr>
                    <td class="set_width_100px"><p class="set_font_weight_bold">Наличие:</p></td>
                    <td>
                        <p ng-if="product.productByProductId.exist === 1">
                            <span class="product_exist">есть в наличии</span>
                        </p>
                        <p ng-if="product.productByProductId.exist === 0">
                            <span class="product_not_exist">нет в наличии</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="set_width_100px"><p class="set_font_weight_bold">Производитель:</p></td>
                    <td>
                        <p class="set_font_weight_100" ng-bind="product.productByProductId.sprConsumerByConsumerId.name"/>
                        <p ng-if="product.productByProductId.consumerId === null" class="set_font_weight_100">-</p>
                    </td>
                </tr>
                <tr>
                    <td class="set_width_100px"><p class="set_font_weight_bold">Цвет:</p></td>
                    <td>
                        <p class="set_font_weight_100" ng-bind="product.productByProductId.sprColorByColorId.name"/>
                        <p ng-if="product.productByProductId.sprColorByColorId === null" class="set_font_weight_100">-</p>
                    </td>
                </tr>
                <tr>
                    <td class="set_width_100px"><p class="set_font_weight_bold">Размер:</p></td>
                    <td>
                        <p class="set_font_weight_100" ng-bind="product.productByProductId.sprSizeBySizeId.name"/>
                        <p ng-if="product.productByProductId.sprSizeBySizeId === null" class="set_font_weight_100">-</p>
                    </td>
                </tr>
                <tr>
                    <td class="set_width_100px"><p class="set_font_weight_bold">Тип:</p></td>
                    <td>
                        <p class="set_font_weight_100" ng-bind="product.productByProductId.sprTypeByTypeId.name"/>
                        <p ng-if="product.productByProductId.sprTypeByTypeId === null" class="set_font_weight_100">-</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>