<div ng-show="editableGoodsState || newGood">
    <form ng-submit="saveGood(descriptionProduct,
                                productExist,
                                savedIdProductImg,
                                uah,
                                cent,
                                goodsCode,
                                titleProduct,
                                page.number);">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" ng-show="editableGoodsState">Редактирование товара</h3>
                <h3 class="panel-title" ng-show="newGood">Добавление нового товара</h3>
            </div>
            <div class="panel-body">
                <div class="wrapper_panel_body_content">
                    <div class="row">
                        <div class="col-xs-2">
                            <p>Изображение</p>
                        </div>
                        <div class="col-xs-10" style="padding-left: 5px;">
                            <button type="file"
                                    class="btn btn-default add_file"
                                    ngf-select="uploadImageProduct($file, $invalidFiles, 0)"
                                    accept="image/*"
                                    ngf-max-height="1000"
                                    ngf-max-size="2MB"
                                    ng-hide="img_product">Выберите изображение</button>
                            <div style="margin: 5px 0;">
                                <div style="font-size: 14px;" ng-show="img_product">Файл:
                                    {{img_product.name}}
                                    {{errFile.name}}
                                    {{errFile.$error}}
                                    {{errFile.$errorParam}}
                                  <span class="progress" ng-show="img_product.progress >= 0">
                                      <div style="width:{{f.progress}}%" ng-cloak>Загружено:
                                          {{img_product.progress + '%'}}</div>
                                  </span>
                                </div>
                                {{errorMsg}}
                            </div>
                            <img ng-show="savedIdProductImg.image"
                                 ng-src="data:image/jpeg; base64,{{savedIdProductImg.image}}"
                                 class="admin_single_product_img"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <p>Категория</p>
                        </div>
                        <div class="col-xs-10" ng-controller="adminCategoryCtrl">
                            <select ng-model="addGoodsCategory"
                                    id="addGoodsCategory"
                                    ng-click="selectCategoryFromList(addGoodsCategory)"
                                    class="form-control admin_category_select"
                                    ng-options="category.name for category in categories | orderBy: 'name' track by category.idCategory"
                                    name="addGoodsCategory"
                                    required>
                                <option value="">Выбрать</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <p>Код продукта</p>
                        </div>
                        <div class="col-xs-2" ng-controller="goodsTxtInputCtrl">
                            <input type="number"
                                   maxlength="19"
                                   min="1"
                                   max="999"
                                   class="form-control admin_add_input code_product_input"
                                   id="addGoodsCode"
                                   ng-model="addGoodsCode"
                                   name="addGoodsCode"
                                   required/>
                            <span class="code_product">.</span>
                        </div>
                        <div class="col-xs-2" ng-controller="goodsTxtInputCtrl">
                            <input type="number"
                                   maxlength="19"
                                   min="1"
                                   max="999"
                                   class="form-control admin_add_input code_product_input"
                                   id="addGoodsCode2"
                                   ng-model="addGoodsCode2"
                                   name="addGoodsCode2"
                                   required/>
                            <span class="code_product">.</span>
                        </div>
                        <div class="col-xs-2" ng-controller="goodsTxtInputCtrl">
                            <input type="number"
                                   maxlength="19"
                                   min="1"
                                   max="999"
                                   class="form-control admin_add_input code_product_input"
                                   id="addGoodsCode3"
                                   ng-model="addGoodsCode3"
                                   name="addGoodsCode3"
                                   required/>
                            <span class="code_product">.</span>
                        </div>
                        <div class="col-xs-2" ng-controller="goodsTxtInputCtrl">
                            <input type="number"
                                   maxlength="19"
                                   min="1"
                                   max="999"
                                   class="form-control admin_add_input code_product_input"
                                   id="addGoodsCode4"
                                   ng-model="addGoodsCode4"
                                   name="addGoodsCode4"
                                   required/>
                        </div>
                        <div class="col-xs-2" ng-controller="goodsTxtInputCtrl"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <p>Наименование</p>
                        </div>
                        <div class="col-xs-10" ng-controller="goodsTxtInputCtrl">
                            <input type="text"
                                   class="form-control admin_add_input"
                                   id="name_product"
                                   ng-model="name_product"
                                   name="name_product"
                                   required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <p>Описание</p>
                        </div>
                        <div class="col-xs-10" ng-controller="goodsTxtInputCtrl">
                        <textarea class="form-control admin_add_input admin_area"
                                  style="max-width: 785px;"
                                  id="description"
                                  ng-model="description"
                                  name="description"
                                  required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <p>Цена</p>
                        </div>
                        <div class="col-xs-6" ng-controller="goodsTxtInputCtrl">
                            <input type="number"
                                   ng-model="priceUah"
                                   class="form-control admin_add_input"
                                   id="priceUah"
                                   name="priceUah"
                                   min="1"
                                   max="9999999999999999999"
                                   required/>
                        </div>
                        <div class="col-xs-1">
                            <p style="margin: 6px 0 0 10px; font-size: 15px;">гривен</p>
                        </div>
                        <div class="col-xs-2" ng-controller="goodsTxtInputCtrl">
                            <input type="number"
                                   ng-model="priceCent"
                                   class="form-control admin_add_input"
                                   id="priceCent"
                                   name="priceCent"
                                   min="0"
                                   max="99"/>
                        </div>
                        <div class="col-xs-1">
                            <p style="margin: 6px 0 0 10px; font-size: 15px;">коп.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <p>Наличие</p>
                        </div>
                        <div class="col-xs-10" style="padding-left: 5px;" ng-controller="goodsTxtInputCtrl">
                            <label class="admin_add_product_lable">
                                <input type="checkbox"
                                       id="addGoodsExist"
                                       ng-model="addGoodsExist"
                                       class="form-control admin_exist_product"/>
                                В наличии
                            </label>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-xs-2">
                            <p>Производитель</p>
                        </div>
                        <div class="col-xs-10" ng-controller="adminConsumerCtrl">
                            <select ng-model="adminConsumerSelect"
                                    ng-change="selectConsumerFromList(adminConsumerSelect)"
                                    class="form-control admin_category_select"
                                    ng-options="consumer.name for consumer in consumerList | orderBy: 'name' track by consumer.idConsumer">
                                <option value="">Выбрать</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-xs-2">
                            <p>Цвет</p>
                        </div>
                        <div class="col-xs-10" ng-controller="adminColorCtrl">
                            <select ng-model="adminColorSelect"
                                    class="form-control admin_category_select"
                                    ng-change="selectColorFromList(adminColorSelect)"
                                    ng-options="color.name for color in colorList | orderBy: 'name' track by color.idSprColors">
                                <option value="">Выбрать</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-xs-2">
                            <p>Тип</p>
                        </div>
                        <div class="col-xs-10" ng-controller="adminTypeCtrl">
                            <select ng-model="adminTypeSelect"
                                    ng-change="selectTypeFromList(adminTypeSelect)"
                                    class="form-control admin_category_select"
                                    ng-options="type.name for type in typeList | orderBy: 'name' track by type.idSprType">
                                <option value="">Выбрать</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-xs-2">
                            <p>Размер</p>
                        </div>
                        <div class="col-xs-10" ng-controller="adminSizeCtrl">
                            <select ng-model="sizeSelect"
                                    class="form-control admin_category_select"
                                    ng-change="selectSizeFromList(sizeSelect)"
                                    ng-options="type.name for type in sizeList | orderBy: 'name' track by type.idSprSize">
                                <option value="">Выбрать</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success admin_save_edit_btn">Сохранить</button>
        <button type="reset" class="btn btn-default admin_cancel_edit_btn" ng-click="cancelEditGood();">Отмена</button>
    </form>
</div>
