<div ng-class="currentPath === '/goods' ? 'page-header admin_page_header' : ''">
    <h1 class="admin_sub_header">Управление товарами</h1>
    <div class="wrapper_search_admin" ng-hide="editableGoodsState || newGood">
        <div class="search_admin">
            <angucomplete type="search"
                          class="input_search"
                          id="search"
                          placeholder="Введите название товара..."
                          pause="200"
                          selectedobject="object"
                          url="/product/search?name="
                          titlefield="title"
                          inputclass="form-control form-control-small goods_search"/>
        </div>
    </div>
    <button ng-hide="editableGoodsState || newGood"
            class="btn btn-default admin_add_new_good"
            ng-click="addGood();">Новый товар</button>
    <!--<button ng-show="fastEdit"-->
            <!--class="btn btn-default admin_add_new_good"-->
            <!--ng-click="cancelFastEditGoods()">Отмена</button>-->
</div>
<div class="table-responsive" ng-controller="adminCategoryCtrl">
    <div>
        <div ng-hide="isCategoryAdd || editableGoodsState" ng-include=" 'admin/goods/goods.table.html' "></div>
        <div ng-hide="isCategoryAdd" ng-include=" 'admin/goods/goods.add.edit.html' "></div>
        <div ng-show="isCategoryAdd" ng-include=" 'admin/categories/categories.html' "></div>
    </div>
</div>
