<div ng-show="editableGoodsState || newGood">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" ng-show="editableGoodsState">Редактирование товара</h3>
            <h3 class="panel-title" ng-show="newGood">Добавление нового товара</h3>
        </div>
        <div class="panel-body">
            <div class="wrapper_panel_body_content">
                <div class="row">
                    <div class="col-xs-2">
                        <p>Изображение</p>
                    </div>
                    <div class="col-xs-10" style="padding-left: 5px;">
                        <button type="file"
                                class="btn btn-default add_file"
                                ngf-select="uploadImageProduct($file, $invalidFiles)"
                                accept="image/*"
                                ngf-max-height="1000"
                                ngf-max-size="2MB"
                                ng-hide="img_product">Выберите изображение</button>
                        <div style="margin: 5px 0;">
                            <div style="font-size: 14px;" ng-show="img_product">Файл:
                                {{img_product.name}}
                                {{errFile.name}}
                                {{errFile.$error}}
                                {{errFile.$errorParam}}
                                  <span class="progress" ng-show="img_product.progress >= 0">
                                      <div style="width:{{f.progress}}%" ng-cloak>Загружено:
                                          {{img_product.progress + '%'}}</div>
                                  </span>
                            </div>
                            {{errorMsg}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <p>Категория</p>
                    </div>
                    <div class="col-xs-3">
                        <select ng-model="category"
                                class="form-control admin_category_select"
                                ng-options="category.name for category in categories track by category.idCategory">
                            <option value="">Выбрать</option>
                        </select>
                    </div>
                    <div class="col-xs-7 admin_padding_left_ten_element">
                        <button class="btn btn-default admin_add_category_btn" ng-click="addCategory()">Добавить категорию</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <p>Код продукта</p>
                    </div>
                    <div class="col-xs-10">
                        <input type="text" class="form-control admin_add_input" ng-model="code"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <p>Наименование</p>
                    </div>
                    <div class="col-xs-10">
                        <input type="text" class="form-control admin_add_input" ng-model="name_product"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <p>Описание</p>
                    </div>
                    <div class="col-xs-10">
                        <textarea class="form-control admin_add_input admin_area"  ng-model="description"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <p>Цена</p>
                    </div>
                    <div class="col-xs-10">
                        <input type="text" class="form-control admin_add_input"  ng-model="price"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <p>Наличие</p>
                    </div>
                    <div class="col-xs-10" style="padding-left: 5px;">
                        <label class="admin_add_product_lable">
                            <input type="checkbox"
                                   ng-model="exist"
                                   class="form-control admin_exist_product"/>
                            В наличии
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        <p>Производитель</p>
                    </div>
                    <div class="col-xs-3" ng-controller="adminConsumerCtrl">
                        <select ng-model="adminConsumerSelect"
                                class="form-control admin_category_select"
                                ng-options="consumer.name for consumer in consumerList | orderBy: 'name' track by consumer.idConsumer   ">
                            <option value="">Выбрать</option>
                        </select>
                    </div>
                    <div class="col-xs-7 admin_padding_left_ten_element">
                        <button class="btn btn-default admin_add_category_btn">Добавить производителя</button>
                    </div>
                </div>
                <div>
                    <div class="col-xs-2">
                        <p>Цвет</p>
                    </div>
                    <div class="col-xs-10 admin_padding_left_ten_element" ng-controller="adminColorCtrl">
                        <select ng-model="adminColorSelect"
                                class="form-control admin_category_select"
                                ng-options="color.name for color in colorList | orderBy: 'name' track by color.idSprColors">
                            <option value="">Выбрать</option>
                        </select>
                        <button class="btn btn-default admin_add_category_btn">Добавить цвет</button>
                    </div>
                </div>
                <div>
                    <div class="col-xs-2">
                        <p>Тип</p>
                    </div>
                    <div class="col-xs-10" ng-controller="adminTypeCtrl">
                        <select ng-model="adminTypeSelect"
                                class="form-control admin_category_select"
                                ng-options="type.name for type in typeList | orderBy: 'name' track by type.idSprType">
                            <option value="">Выбрать</option>
                        </select>
                        <button class="btn btn-default admin_add_category_btn">Добавить тип</button>
                    </div>
                </div>
                <div>
                    <div class="col-xs-2">
                        <p>Размер</p>
                    </div>
                    <div class="col-xs-10" ng-controller="adminSizeCtrl">
                        <select ng-model="type"
                                class="form-control admin_category_select"
                                ng-options="type.name for type in sizeList | orderBy: 'name' track by type.idSprSize">
                            <option value="">Выбрать</option>
                        </select>
                        <button class="btn btn-default admin_add_category_btn">Добавить размер</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-success admin_save_edit_btn"
            ng-show="category && code && name_product && description && price && exist"
            ng-click="saveGood(cancelEditGood)">
        Сохранить
    </button>
    <button class="btn btn-default admin_cancel_edit_btn" ng-click="cancelEditGood()">Отмена</button>
</div>
