.footer{
    width: 100%;
    min-width: 750px;
    background-color: #CCCCCC;
    position: absolute;
    bottom: 0;
    margin: 20px 0 0 0;
    padding: 0;
}
#footer {
    max-width: 1200px;
    min-width: 750px;
    height: 220px;
    margin: 0 auto;
    bottom: 0;
    font-size: 12px;
}
#footer > div {
    float:left;
    width: 33%;
    height:100%;
    padding-top: 35px;
}
#footer_left {
    text-align:left;
    border-right: 1px solid #e2e2e2;
    padding: 40px 0 10px 0;
}
#footer_middle {
    text-align:left;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #b5b5b5;
    padding: 40px
}

#footer_middle li {
    list-style-image: url(../static/img/li_marker.png);
}

#footer_middle li a {
    text-decoration: underline;
    color: #333;
}

#footer_middle li a:hover {
    color: #ff5c43;
}

#footer_right {
    text-align:left;
    border-left: 1px solid #b5b5b5;
    padding: 40px 0 10px 30px;
}

#footer_right div a {
    text-decoration: underline;
    color: #333;
}

#footer_right div a:hover {
    color: #ff5c43;
}

#footer_right a {
    text-decoration: underline;
    color: #333;
}

#footer_right a:hover {
    color: #ff5c43;
}