.chk{
    position: relative;
    top: 2px;
}

#cancelFilter{
    color:#0d3653;
    position: relative;
    top: -1px;
    right: 0;
    background-color: #f8f8f8;
    padding: 2px 3px;
}

.loadResponse{
    min-width: 100% !important;
    min-height: 100% !important;
    opacity: 0.4;
    background: url(../static/img/Loading_icon.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    z-index: 999999 !important;
    cursor: default;
    pointer-events: none;
}
