<ul class="pagination" ng-hide="editableGoodsState || newGood || page.totalPages < 2" >
    <li ng-class="{disabled: page.number === 0}">
        <a ng-show="page.number !== 0"
           ng-click="setPageAndSizeAdmin(page.number)">&laquo;</a>
        <span ng-show="page.number === 0">&laquo;</span>
    </li>
    <li ng-class="{disabled: page.number === 0}">
        <a ng-show="page.number !== 0" ng-click="setPageAndSizeAdmin(page.number-1)">Prev</a>
        <span ng-show="page.number === 0">Prev</span>
    </li>
    <li ng-repeat="n in [] | adminPages: page.number:page.totalPages:5" ng-class="{active: n === page.number}">
        <a ng-show="page.number !== n" ng-click="setPageAndSizeAdmin(n)">{{n + 1}}</a>
        <span ng-show="page.number === n">{{n + 1}}</span>
    </li>
    <li ng-class="{disabled: page.number === page.totalPages - 1}">
        <a ng-show="page.number !== page.totalPages - 1" ng-click="setPageAndSizeAdmin(page.number+1)">Next</a>
        <span ng-show="page.number === page.totalPages - 1">Next</span>
    </li>
    <li ng-class="{disabled: page.number === page.totalPages - 1}">
        <a ng-show="page.number !== page.totalPages - 1" ng-click="setPageAndSizeAdmin(page.totalPages - 1)">&raquo;</a>
        <span ng-show="page.number === page.totalPages - 1">&raquo;</span>
    </li>
</ul>