<ul class="pagination"
    id="pagination"
    ng-controller="paginationCtrl"
    ng-show="page.totalPages > 1">
    <li ng-class="{disabled: page.number === 0}">
        <a ng-show="page.number !== 0"
           ng-click="setPageAndSize(0)">&laquo;</a>
        <span ng-show="page.number === 0">&laquo;</span>
    </li>
    <li ng-class="{disabled: page.number === 0}">
        <a ng-show="page.number !== 0"
           ng-click="setPageAndSize(page.number-1)">Пред.</a>
        <span ng-show="page.number === 0">Пред.</span>
    </li>
    <li ng-repeat="n in [] | pages: page.totalPages"
        ng-class="{active: n === page.number}">
        <a ng-show="page.number !== n"
           ng-click="setPageAndSize(n)">{{n + 1}}</a>
        <span ng-show="page.number === n">{{n + 1}}</span>
    </li>
    <li ng-class="{disabled: page.number === page.totalPages - 1}">
        <a ng-show="page.number !== page.totalPages - 1"
           ng-click="setPageAndSize(page.number + 1)">Cлед.</a>
        <span ng-show="page.number === page.totalPages - 1">Cлед.</span>
    </li>
    <li ng-class="{disabled: page.number === page.totalPages - 1}">
        <a ng-show="page.number !== page.totalPages - 1"
           ng-click="setPageAndSize(page.totalPages - 1)">&raquo;</a>
        <span ng-show="page.number === page.totalPages - 1">&raquo;</span>
    </li>
</ul>